@page "/"
@using System.Diagnostics.Eventing.Reader
@using System.Security.Cryptography
@using PcfManager.Data
@using PcfManager.Models
@using PcfManager.Services
@using Microsoft.IdentityModel.Tokens
@using System.Dynamic
@inject NavigationManager Navigation
@inject IUserService UserService
@inject DbConnectionFactory DbConnectionFactory
@inject RepRepository RepRepository
@inject DataService DataService
@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime


<PageTitle>Chapin PCF Management</PageTitle>

<!-- Not using verified password any longer-->

@if (isPasswordVerified )
{

    <h4>Hello and welcome to the PCF Manager</h4>
    <h6> You are logged in as: @userName</h6> // currently showing domain\username
    <!-- Secure content -->


}
else
{
    <h4>Please re-enter your password to enter this portal </h4>
    <EditForm Model="@passwordModel" OnValidSubmit="VerifyPassword">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label>Password:</label>
            <InputText type="password" @bind-Value="@passwordModel.Password" />
        </div>
        <button type="submit">Submit</button>
    </EditForm>
}

<br/><br/>
<h4>PCF Expirations by Sales Manager</h4>
<SfGrid DataSource="@GridData" AllowPaging="false" AllowSorting="false" AllowFiltering="false">
    <GridColumns>
        @if (GridData?.Any() == true)
        {
            foreach (var column in ((IDictionary<string, object>)GridData.First()).Keys)
            {
                <GridColumn Field="@column" HeaderText="@column" TextAlign="TextAlign.Left"></GridColumn>
            }
        }
    </GridColumns>
</SfGrid>






<!--
<h3>Database Configurations</h3>
<ul>
<li>PCFDB: @Configuration["DBNames:PCFDB"]</li>
<li>PCFDBHeath: @Configuration["DBNames:PCFDBHeath"]</li>
<li>Syteline: @Configuration["DBNames:Syteline"]</li>
<li>SytelineHeath: @Configuration["DBNames:SytelineHeath"]</li>
</ul>
-->




@code {
    private Rep? _rep;
    private bool isPasswordVerified = true;
    private PasswordModel passwordModel = new();
    private string retrievedValue;
    private string userName;
    private static int initializationCount = 0;
    private class PasswordModel
    {
        public string Password { get; set; }
    }
    private List<ExpandoObject> GridData = new();


    private async Task VerifyPassword()
    {
        /*if (!string.IsNullOrEmpty(passwordModel.Password) &&
        !string.IsNullOrEmpty(UserService.CurrentRep?.Pwd) &&
        passwordModel.Password == UserService.CurrentRep.Pwd)
        {
            isPasswordVerified = true;
            UserService.CurrentRep.LoginValidated = true;


            }
        else
        {
            // Show error message or handle invalid login
            UserService.CurrentRep.LoginValidated = false;
            isPasswordVerified = false;
            }
        */
                //Console.WriteLine("VerifyPassword executed");

                userName = UserService.DomainUserName;
        if (UserService.UserRole == "Unauthorized")
        {
            isPasswordVerified = false;

            //await SessionStorage.SetAsync("RepID", UserService.RepID);
            //await UserService.SetRepAsync(UserService.CurrentRep);
        }
        else
        {
            isPasswordVerified = true;

        }

        //StateHasChanged();
    }


    
   

    protected override async Task OnInitializedAsync()
    {
    
        // Increment and log the initialization count
        initializationCount++;
        Console.WriteLine($"Index OnInitializedAsync executing (Count: {initializationCount})");
        Console.WriteLine($"Current URL: {Navigation.Uri}");

        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var repIDString = query["repID"];
        int repID = 0; // Default to 0 if not provided or invalid

        await UserService.InitializeUserAsync();
        userName = UserService.DomainUserName ?? "Not Available";
        Console.WriteLine($"User initialized: {userName}, Role: {UserService.UserRole}");

        UserService.SetDatabaseNames("Chapin");

        if (!string.IsNullOrEmpty(repIDString) && int.TryParse(repIDString, out int parsedRepID))
        {
            repID = parsedRepID;
            Console.WriteLine($"RepID from query string: {repID}");
        }

        if (repID > 0)
        {
            _rep = RepRepository.GetRepById(repID);
            if (_rep != null)
            {
                UserService.SetRepID(_rep.RepId);
                Console.WriteLine($"Rep set: {_rep.RepId}");
            }
        }

        // Check authorization status directly
        if (UserService.UserRole == "Unauthorized")
        {
            isPasswordVerified = false;
            Console.WriteLine("User is unauthorized");
        }
        else
        {
            isPasswordVerified = true;
            Console.WriteLine("User is authorized");
        }

        Console.WriteLine("About to load grid data...");
        GridData = await DataService.GetExpiringPCFsReportAsync();
        Console.WriteLine($"Grid data loaded: {GridData.Count} items");
    }

    // Add a disposal method to track component lifecycle
    public void Dispose()
    {
        Console.WriteLine("Index component is being disposed");
    }
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }



}